.container {
  display: grid;
  grid-template-areas: 'head head head head''sidebar main main main''footer footer footer footer';
}

header {
  grid-area: head;
  background-color: aqua;
}

aside {
  grid-area: sidebar;
  background-color: blue;
}

main {
  grid-area: main;
  background-color: chartreuse;
}

footer {

  grid-area: footer;
  background-color: blueviolet;
}