.container {
  display: grid;
  grid-template-areas:
    'left1 main main main right1'
    'left2 main main main right2'
    'left3 main main main right3'
    'lefty1 mid1 mid2 mid3 righty1';

}

.main {
  grid-area: main;
  background-color: chartreuse;
}

.left1 {
  display: grid;
  grid-auto-flow: column;
  /* justify-content: space-between; */
  place-items: center;
  grid-area: left1;
  background-color: aqua;
}

.left2 {
  grid-area: left2;
  background-color: red;
}

.left3 {
  grid-area: left3;
  background-color: red;
}

.lefty1 {
  background-color: aqua;
  grid-area: lefty1;
}

.righty1 {
  background-color: aqua;
  grid-area: righty1;
}

.mid1 {
  grid-area: mid1;
  background-color: blue;
}

.mid2 {
  grid-area: mid2;
  background-color: brown;
}

.mid3 {
  grid-area: mid3;
  background-color: blueviolet;
}

.right1 {
  grid-area: right1;
  background-color: yellow;
}

.right2 {
  grid-area: right2;
  background-color: darkblue;
}

.right3 {
  grid-area: right3;
  background-color: cornflowerblue;
}