.main_container{
  display: grid;
  grid-auto-flow: column;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.text{
  margin: 5px;
  border: solid black 2px;
  background-color: brown;
}

.new{
  margin: 5px;
  border: solid black 2px;
  background-color: green;

}
